body {
    font-family: 'Arial', sans-serif;
    background-color: #f9fafb;
    margin: 0;
  }
  
  h2 {
    color: #1f2937; /* Dark gray */
    margin-bottom: 8px;
  }
  
  p {
    color: #4b5563; /* Medium gray */
    font-size: 1rem;
  }
  
  .grid {
    gap: 1.5rem; /* 6px gap */
  }
  
  
  @media (min-width: 768px) {
    .grid {
      gap: 2rem; /* Larger gap for bigger screens */
    }
  }
  
  .text-center h2 {
    font-size: 2rem;
    margin-bottom: 12px;
  }
  
  .text-center p {
    font-size: 1.1rem;
    margin-bottom: 16px;
  }
  